---
layout: default
---

<div class="home">

  <div class="about">
    <p>An occasional informal meetup for developers to discuss new and interesting things.</p>
    <p>Too many tech meetups are bogged down by uninteresting irrelevant talks given by opinionated 'weblebrities' who are more interested in promoting their own brand than offering something useful to others. We try to stick to interesting discussions rather than "my opinion is best because I like the sound of my own voice".</p>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-misc">
          <span class="post-meta">HMTL {{ forloop.rindex }}, {{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="post-location">{% if post.location %} @ {{ post.location }}{% endif %}</span>
          {% if post.speakers %}
            <ul class="post-speakers">
            {% for speaker in post.speakers %}
              <li class="post-speaker">{{ speaker }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
